<nav class="navbar navbar-default" role="navigation">
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Then And Now</a>
    <div id="signout"> <%= link_to :logout, destroy_user_session_path, :method => :delete %></div>
  </div>
</nav>

<h1><%= current_user.email  %>'s Stories</h1>

<div id="photostoriescontainer" class="container">
  <div class="row">
<% @stories.each do |story| %>
    <div id="photoDiv" class="col-md-4 col-sm-4">
      <h2><%= story.name  %></h2>
        <ul>
          <li><%= image_tag story.photoone, {height: 75} %></li>
          <li><%= image_tag story.phototwo, {height: 75} %></li>
        </ul>
        <% story_arr = [] %>
        <% story_arr.push(story) %>
        <footer> <%= story_arr.map{|story| story.location}.join(" ").split("%20").join(" ") %> </footer>
    </div>   
<% end %>
  </div>    
</div> 
<!-- Button trigger modal -->
<button id="showModalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newStoryModal">
  Create New Photo Story
</button>

<!-- Modal -->
<div class="modal fade" id="newStoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add A New Photo Story</h4>
      </div>
      <div class="modal-body">
        <form name="ajaxForm" id="ajaxForm" role="form">
          <div class="form-group">
            <label for="photoStoryname">PhotoStory Name</label>
            <input name="photoStoryName" class="form-control" id="photoStoryName" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="photoOne">Street Address</label>
            <input name="location" type="string" class="form-control" id="location" placeholder="Address">
          </div>
          <div class="form-group">
            <!-- <label for="exampleInputFile">Photo File</label>
            <input name="filePhoto" type="file" name="photo" />
            <! <input name="photoTwo" type="file" id="photoInputFile"> -->
            <label for="photoOne">Nastolgic Photo URL</label>
            <input name="filePhoto" type="string" class="form-control" id="filePhoto" placeholder="URL">
          </div>
          <button id="formSubmit" type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
